body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: auto;
  font-family: 'Poppins', sans-serif;
  background-color: #fcfbff;
}

.App {
  flex: 1 0 auto;
  background: #0e315a;
}

.Footer {
  flex-shrink: 0;
}

label {
  font-size: 1rem;
  font-weight: normal;
}

a {
  text-decoration: none;
  color: inherit;
}

.toast-custom {
  background-color: #c2deff;
  color: #fff;
  border-radius: 10px;
}

.toast-custom-body {
  font-weight: bold;
  font-size: 1.2em;
}

.promotionText {
  background: linear-gradient(to right, #1a1f71, #252b84, #333a99, #3f4ab1, #4e58cc);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1rem;
}

.promotionSpan {
  font-size: 1rem;
  font-weight: bold;
  color: #4e58cc;
}